.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../icon/escritorio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  max-width: 400px;
  margin: 50px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  padding: 2rem;
  width: 380px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  overflow-y: auto;
  max-height: 80vh;
}

.section {
  margin-top: 1.5rem;
  border-top: 1px solid #999;
  padding-top: 1rem;
}

.lista {
  list-style: none;
  padding: 0;
  margin-top: 1.5rem;
  text-align: left;
}

.tarefa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px 12px;
  margin-bottom: 10px;
  transition: transform 0.2s ease;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  max-width: 100%;
}

.tarefaConteudo {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btnLimpar {
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnLimpar:hover {
  background-color: #655d5d;
}

@media (max-width: 768px) {
  .container {
    max-width: 95%;
    margin: 40px auto;
    padding: 15px;
  }

  .tarefa {
    padding: 8px 10px;
  }

  .tarefaTexto {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 100%;
    border-radius: 0;
    height: 100vh;
    margin: 0;
    box-shadow: none;
  }

  .tarefa {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .tarefaTexto {
    font-size: 14px;
  }

  .footer {
    font-size: 12px;
  }
}
