.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../icon/escritorio.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  padding: 2rem;
  width: 380px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.section {
  margin-top: 1.5rem;
  border-top: 1px solid #999;
  padding-top: 1rem;
}

.lista {
  list-style: none;
  padding: 0;
  margin-top: 1.5rem;
  text-align: left;
}


.tarefa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0.6rem 0.8rem;
  border-radius: 6px;
  margin-bottom: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.btnRemover {
  background-color: #fff;
  color:#000;
 border: 2px solid #000;  border-radius: 6px;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.2s;
}

.btnRemover:hover {
  background-color: #655d5d;
}